@import "tailwindcss";

#app {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

body{
  background-color: #101010;
  font-family: Open Sans;
  padding: 20px;
}

h1{
  font-family: Cherry Bomb One;
  font-size: 2.5em;
}